<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/topnav.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    {% block head %}{% endblock %}
    <title>SCSm Stock Management System</title>
</head>
<body>
    <div class="topnav">
        <div class="topimage"><a href="/"><img src="../static/img/logo_scsm.png" alt="" style="height: 100%; width: 100%; "></a></div>
        <div class="topmenu">
            <div><a href="/stock_list">재고현황</a></div>
            <div><a href="/order_list">발주목록</a></div>
            <div><a href="#">물품관리</a></div>
            <div><a href="#">계정관리</a></div>
            <div>{{user}} 접속중</div>
            <div><a href="#">로그아웃</a></div>
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {% block body %}{% endblock %}
</body>
</html>