<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/topnav.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    {% block head %}{% endblock %}
    <title>SCSm Stock Management System</title>
</head>
<body>
    <div class="topnav">
        <div class="topimage"><a href="#"><img src="../static/img/logo_scsm.png" alt="" style="height: 100%; width: 100%; "></a></div>
        <div class="topmenu">
            <div><p><a href="#">재고현황</a></p></div>
            <div><p><a href="#">발주목록</a></p></div>
            <div><p><a href="#">기기관리</a></p></div>
            <div><p><a href="#">계정관리</a></p></div>
            <div>{% block user %}{% endblock %} 접속중</div>
            <div><p><a href="#">비밀번호 변경</a></p></div>
            <div><p><a href="#">로그아웃</a></p></div>
        </div>
    </div>
    {% black body %}{% endblock %}
</body>
</html>