{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/stockList.css">
{% endblock %}

{% block body %}
<div class="list_body">
    <!-- 재고 리스트 페이지 -->
    <div id='stock-div' style="width: 100%;">
        <!-- filter div -->
        <div>
            <form action="">
                <select class="form-select">
                    <option selected>검색항목 선택</option>
                    <option value="1">품명</option>
                    <option value="2">품번</option>
                </select>
    
                <input type="text" name="" id="" placeholder="검색">
    
                <input type="button" value="검색">
            </form>
        </div>
        <!-- stocklist div -->
        <div class="table-responsive stock-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 1.2vw;">No.</th>
                        <th scope="col" >품명</th>
                        <th scope="col" >품번</th>
                        <th scope="col" >수량</th>
                        <th scope="col" style="width: 10vw;">상세보기</th>
                        <th scope="col">비고</th>
                    </tr>
                </thead>
                <tbody id="stock_tbody">

                </tbody>
    
            </table>
        </div>
        
    </div>
    <!-- 선택시 나타나는 사이드바 -->
    <div id="side-var" class="hidden">
        <div>
            <!-- 추가할 상세정보 표시 -->
            <h1 id="stock-sidename"></h1>
            <img src="" alt="" style="width:100%; height: 20rem;" id="stock_img">
            <div id="stock-detail">
            </div>
            <!-- 발주 등록 -->
            <div id="buy-stock">
                <input type="number" name="buy-number" id="buy-number" min="1">
                <button onclick="makeOrder()">발주하기</button>
            </div>
            <!-- 사용 등록 -->
            <div id="use-stock">
                <input type="number" name="use-number" id="use-number" min="1">
                <button onclick="makeUsage()">사용등록</button>
            </div>
            <button class="popup-close" onclick="closeButton()">닫기</button>
        </div>


        <h3>사용등록</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>사용개수</th>
                    <th>사용등록일</th>
                    <th>사용확인</th>
                </tr>
            </thead>
            <tbody id="stock_usage_tbody">
            </tbody>

        </table>
    </div>
</div>



<script src="../static/js/stockList.js"></script>
{% endblock%}