<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>SCSm ERP</title>
</head>
<body>
    <!-- 로고와 로그인 페이지 -->
    <div class="loginMain">
        <!-- 이미지 div -->
        <div>
            <img src="../static/img/logo_scsm.png" alt="SCSm logo">
        </div>
        <div>
            <h1>Stock Management System</h1>
        </div>
        <!-- Login form -->
        <div>
            <h1>권한이 없습니다.</h1>
            <form action="/stock_list" style="width:50%; margin:auto;">
                <input type="submit" name="" id="" value="돌아가기">
            </form>
        </div>
    </div>
</body>
</html>